# prj specific
model/simulation*
synthesis/AdhesionDriven*.xml
synthesis/MorpheusSetup.py
synthesis/README_model.md
synthesis/simulations/

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

## python specific
.cache
MANIFEST
PKG-INFO
*.pyc
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyo
*.tmp*
.coverage
.pytest_cache
.ipynb_checkpoints/
